.editNumberBtn {
  background-color: rgb(209, 138, 123) !important;
  color: white !important;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 4px !important;
  border: none;
  text-align: center;
  margin: 0 10px;
  float: right;
}
.editNumberBtn:hover {
  background-color: rgb(199, 110, 92) !important;
}
.submitChangeBtn {
  background-color: rgb(205, 136, 122) !important ;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  padding: 5px;
  float: right;
}
.submitChangeBtn:hover {
  background-color: rgb(179, 110, 97) !important ;
}
.submitCancelBtn {
  background-color: rgb(237, 196, 188) !important ;
  border: none;
  color: black;
  font-weight: 600;
  border-radius: 4px;
  padding: 5px;
  float: right;
}

.submitCancelBtn:hover {
  background-color: rgb(210, 160, 150) !important ;
}
