.edit__appointment__container {
  padding: 30px;
  /* background: rgb(250, 243, 243); */
  text-align: center;
}
.edit__appointment__title {
  padding-bottom: 20px;
  font-family: Roboto Slab;
}

.edit__appointment__table__wrap {
  overflow-x: scroll;
}

table {
  border-collapse: separate !important;
  width: 100%;
}
.edit__appointment__date__input {
  width: 130px;
}
td,
th {
  padding: 10px 5px;
  border: 1px solid black;
}
th {
  font-size: 18px;
  background-color: rgb(172, 172, 172);
}
.table__corner__top__left {
  border-top-left-radius: 8px;
}
.table__corner__top__right {
  border-top-right-radius: 8px;
}
.edit__appointment__button {
  background-color: rgb(207, 155, 155) !important;
  border: 1px solid rgb(207, 155, 155);
  border-radius: 4px;
  font-weight: bold;
  color: white;
}
.edit__appointment__button {
  background-color: rgb(238, 230, 230);
  border: 1px solid rgb(207, 155, 155);
  border-radius: 4px;
}
.edit__appointment__add__button {
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(160, 161, 162, 0.753);
  border: 1px solid rgba(160, 161, 162, 0.753);
  border-radius: 4px;
}
.edit__appointment__add__button:hover {
  background-color: rgba(77, 77, 77, 0.507);
  border: 1px solid rgba(77, 77, 77, 0.507);
}

.edit__appointment__button:hover {
  background-color: rgb(207, 155, 155);
  border: 1px solid rgb(238, 230, 230);
  border-radius: 4px;
}
.edit__appointment__button:focus {
  outline: none;
}

.edit__appointment__button:hover {
  background-color: rgb(184, 138, 138) !important;
}

.email-field {
  width: 125px;
  border: 1px solid black;
}
@media screen and (max-width: 970px) {
  .edit__appointment__table__wrap {
    overflow-x: scroll;
  }
}
