body {
  height: 100vh;
}
.newServiceBtn-container {
  width: 100vh;
}
.newServiceBtn {
  background-color: rgb(209, 138, 123) !important;
  color: white !important;
  font-weight: bold;
  padding: 8px !important;
  margin: auto;
  margin-top: 20px;
  width: 170px;
  height: 40px;
  border-radius: 4px !important;
  border: none;
  text-align: center;
  display: block !important;
  justify-content: center !important;
  align-items: center !important;
}
.newServiceBtn:hover {
  background-color: rgb(179, 110, 97) !important;
}
