.serviceContainer {
  height: 900px;
}
.serviceForm {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
}
/* .dropdown {
  height: 40px;
  width: 220px;
  background-color: white;
  border: white;
  border-radius: 4px;
  padding: 10px;
  font-weight: bolder;
  font-size: 15px;
  color: black !important;
  margin: 0px 5px 5px 5px;
} */

.searchService {
  width: 80px;
  margin: auto !important;
}
.service-input {
  height: 40px !important;
  width: 220px;
  background-color: white;
  border: white;
  border-radius: 4px;
  padding: 10px;
  font-weight: bolder;
  font-size: 15px;

  margin: 0px 5px 5px 5px;
  text-align: center;
}

input {
  color-adjust: rgb(112, 111, 111) !important;
}
.service-input:focus {
  outline: none;
}
@media screen and (max-width: 800px) {
  .searchService {
    display: block;
    margin-top: 10px !important;
  }
}

.custom-select {
  position: relative;
  font-family: Arial;
  width: 220px !important;
  font-size: 16px;
  font-weight: bold;
  margin: 0px 5px 5px 5px;
  border: none;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: white;
  border-radius: 0.3rem;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: gray transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent gray transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: rgb(126, 123, 123);
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: white;

  /* color: rgb(112, 111, 111) !important; */
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 3px 6px 4px rgba(189, 188, 188, 0.3);
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
