body {
  height: 100vh;
}

/* .serviceContainer {
  height: 100vh;
} */
.serviceForm-container {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center; /* Not necessary but will center the items */
  flex-direction: row; /* Not necessary but tells that they should be in a row */
  justify-content: center !important; /* Will align items to left on larger screens */
  flex-wrap: wrap;
}

.searchService {
  background-color: rgb(209, 138, 123) !important;
  width: 80px;
  margin-bottom: 3px !important;
  /* margin: auto !important; */
}

.searchService:hover {
  background-color: rgb(179, 110, 97) !important;
  color: white !important;
}
.service-input {
  height: 40px !important;
  width: 220px;
  background-color: white;
  border: white;
  color: black !important;
  border-radius: 4px;
  padding: 10px;
  font-weight: normal !important;
  font-size: 15px;
  margin: 0px 5px 5px 5px;
  text-align: left;
}

::placeholder {
  color: black !important;
}

.service-input:focus {
  outline: none;
}

.newServiceBtn-container {
  width: 100%;
}

.customDropDown {
  height: 40px !important;
  width: 220px;
  background-color: white;
  border: white;
  border-radius: 4px;
  padding: 10px;
  font-weight: bolder;
  font-size: 15px;
  margin: 0px 5px 5px 5px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.customDropDown .select {
  width: 120%;
  background-position: 10% center;
}
.customDropDown .select select {
  /* background: transparent !important; */
  line-height: 1;
  border: 0;
  padding: 0;
  padding-bottom: 10px !important;
  border-radius: 0;
  width: 120%;
  position: relative;
  z-index: 10;
  font-size: 1em;
  text-align: center;
}

.newServiceBtn {
  background-color: rgb(209, 138, 123) !important;
  color: white !important;
  font-weight: bold;
  padding: 8px !important;
  margin: auto;
  margin-top: 20px;
  width: 170px;
  height: 40px;
  border-radius: 4px !important;
  border: none;
  text-align: center;
  display: block !important;
  justify-content: center !important;
  align-items: center !important;
}
.newServiceBtn:hover {
  background-color: rgb(179, 110, 97) !important;
}

.button,
.file-cta,
.file-name,
.input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select select,
.textarea {
  -webkit-appearance: square-button !important;
}

@media screen and (max-width: 550px) {
  .searchService {
    width: 60% !important;
  }
}
