body {
  height: 100vh;
}

.account-manage-container {
  background-size: contain;
  height: 100%;
  border-radius: 8px;
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
}
.account-manage-title {
  font-family: Roboto slab !important;
  margin: 20px;
  text-align: center;
  color: black;
}
.account-manage-item-sub {
  font-size: 16px;
  padding: 5px 20px;
}
.employee-info-wrap {
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid rgb(187, 181, 181);
  margin-left: 50px;
}

@media screen and (max-width: 670px) {
  .account-manage-container {
    width: 90% !important;
    margin: auto;
  }
  .employee-info-wrap {
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid rgb(187, 181, 181);
    margin-left: 10px;
  }
}
