body {
  height: 100vh;
}
.create-account-wrap {
  padding-bottom: 50px;
  text-align: center;
}
.create-account-container {
  background-color: rgba(241, 226, 223, 0.771);
  width: 90%;
  margin-top: 40px;
  color: #111;
  column-gap: 20px;
  justify-content: space-between;
  padding-top: 60px !important;
  padding: 20px;
  border-radius: 0.3rem;
}
.account-create-header {
  padding: 0;
  color: black;
  font-family: "Roboto Slab", serif;
  padding-bottom: 30px;
}
.input-container > small {
  color: rgba(243, 6, 6, 0.692);
  font-size: 15px;
}
.input-container {
  margin: 20px 0;
  width: 100%;
}
.create-account-error {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.create-account-pass {
  flex-direction: row;
}
.input-container > input {
  padding-left: 20px;
  font-size: 15px;
  height: 40px;
  width: 70%;
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid rgba(124, 121, 121, 0.897);
  border-radius: 0.3rem;
  background-color: rgba(255, 255, 255, 0);
}
.input-container > input:focus {
  outline-color: rgba(250, 188, 152, 0.692);
}
.input-container > textarea {
  font-size: 15px;
  font-size: 15px;
  padding-left: 20px;
  width: 70%;
  height: 80px;
  resize: none;
  border-radius: 0.3rem;
  margin-right: 10px;
  background-color: transparent;
}
.input-container > textarea:focus {
  outline-color: rgba(250, 188, 152, 0.692);
}

.user-create-container {
  margin: 20px 0;
}

.user-create-with-account {
  margin: 20px 0;
}
.create-account-pet-title {
  color: black;
  font-size: 20px;
}
.create-page-icon {
  margin-right: 10px;
}

.create-account-submit-btn {
  border: none;
  background-color: rgb(209, 138, 123) !important;
  width: 100px;
  padding: 10px 0;
  border-radius: 0.5rem;
  font-size: large;
  font-weight: bold;
  color: whitesmoke;
}
.create-account-submit-btn:hover {
  background-color: rgba(204, 153, 142, 0.9) !important;
}
@media screen and (min-width: 970px) {
  .create-account-container {
    width: 50%;
  }
  .input-container > small {
    color: rgba(243, 6, 6, 0.692);
  }
}
