.upcoming__schedule__container {
  text-align: center;
  margin: 40px;
  padding: 10px;
  border-radius: 4rem;
  background-color: rgba(148, 161, 167, 0.24);
  font-size: 23px;
}
.upcoming__schedule__title {
  font-weight: 700;
  font-size: 28px;
}
.upcoming__schedule__data {
  font-family: "Parisienne", cursive;
  font-weight: 700;
}
.upcoming__schedule__time {
  font-family: "Parisienne", cursive;
  font-weight: 700;
}
