.user__landing__page__whole {
  background: rgb(238, 230, 230);
}
.user__landing__video__wrap > video {
  /* object-fit: cover;
  position: fixed;
  z-index: 1;
  top: 0; */
  mask-image: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0) 100%
  );
  /* mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)); */
}
.user__landing__page__wrap {
  background: rgb(238, 230, 230);
  height: 100%;
  width: 100%;
  align-content: center;
  max-width: 1200px;
}
.user__landing__page {
  z-index: 2;
  text-align: center;
  padding: 30px 0;
}
.user__landing__page__title {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  margin: 20px 0;
}
.user__landing__page__top__wrap {
  display: none;
}
.user__landing__page__name {
  font-size: 30px;
  font-weight: 600;
}
.user__landing__page__subtitle {
  font-size: 30px;
}
.user__landing__page__description__container {
  margin: 30px 0;
}
.user__landing__page__button {
  width: 120px;
  background-color: rgb(238, 230, 230);
  border: 1px solid rgb(197, 100, 100);
  border-radius: 3rem;
  margin: 20px;
  padding: 10px;
  color: rgb(139, 87, 87);
  font-weight: 500;
}
.user__landing__page__button:hover {
  background-color: rgb(224, 199, 199);
  border: none;
  color: rgb(53, 33, 33);
  font-weight: 700;
}
.user__landing__page__button:focus {
  outline: none;
}
.user__landing__page__button > img {
  padding: 10px;
  width: 90px;
}
.user__landing__page__account__button {
  color: black;
  background-color: rgb(209, 173, 173);
  padding: 10px 20px;
  border-radius: 2rem;
  font-weight: 600;
}
.user__landing__page__account__button:hover {
  background-color: rgb(209, 158, 158);
}
.user__landing__page__account__button__inVideo {
  display: none;
}
@media screen and (min-width: 1023px) {
  .user__landing__page__wrap2 {
    padding: 5%;
    display: flex;
    flex-direction: row-reverse;
  }
  .user__landing__page {
    background: radial-gradient(
      ellipse at center,
      rgb(238, 230, 230) 20%,
      rgba(175, 162, 162, 0) 100%
    );
    padding-top: 0;
    padding-bottom: 0;
  }
  .user__landing__page__title {
    display: none;
  }
  .user__landing__page__name {
    display: none;
  }
  .user__landing__page__description__container {
    width: 400px;
    margin: 0;
  }
  .user__landing__page__top__wrap {
    display: flex;
    padding: 15px;
    flex-direction: column;
    text-align: center;
  }
  .user__landing__page__top__wrap > h1 {
    font-family: "Shrikhand", cursive;
    font-size: 50px;
  }
  .user__landing__page__top__wrap > p {
    font-family: "Shrikhand", cursive;
    font-size: 30px;
  }
  .user__landing__page__account__button {
    display: none;
  }
  .user__landing__video__wrap {
    position: relative;
  }
  .user__landing__page__account__button__inVideo {
    display: initial;
    position: absolute;
    bottom: 50px;
    left: 60px;
    text-align: center;
    width: 160px;
  }
  .user__landing__page__account__word__inVideo {
    font-weight: 600;
    color: black;
    font-size: 25px;
    padding: 0 20px;
  }
  .user__landing__page__account__button__inVideo > img {
    width: 100px;
  }
  .user__landing__page__account__button__inVideo:hover {
    background-color: rgba(209, 158, 158, 0.342);
    border-radius: 5rem;
  }
}
@media screen and (min-width: 1390px) {
  .user__landing__video__wrap > video {
    width: 720px;
  }
  .user__landing__page__wrap2 {
    padding: 5%;
    display: flex;
    flex-direction: row-reverse;
  }
  .user__landing__page {
    background: radial-gradient(
      ellipse at center,
      rgb(238, 230, 230) 20%,
      rgba(175, 162, 162, 0) 100%
    );
    padding-top: 0;
    padding-bottom: 0;
  }
  .user__landing__page__title {
    display: none;
  }
  .user__landing__page__name {
    display: none;
  }
  .user__landing__page__description__container {
    width: 400px;
    margin-top: 20px;
  }
  .user__landing__page__top__wrap {
    display: flex;
    padding: 15px;
    flex-direction: column;
    text-align: center;
  }
  .user__landing__page__top__wrap > h1 {
    font-family: "Shrikhand", cursive;
    font-size: 50px;
  }
  .user__landing__page__top__wrap > p {
    font-family: "Shrikhand", cursive;
    font-size: 30px;
  }
  .user__landing__page__account__button {
    display: none;
  }
  .user__landing__video__wrap {
    position: relative;
  }
  .user__landing__page__account__button__inVideo {
    display: initial;
    position: absolute;
    bottom: 50px;
    left: 60px;
    text-align: center;
    width: 160px;
  }
  .user__landing__page__account__word__inVideo {
    font-weight: 600;
    color: black;
    font-size: 25px;
    padding: 0 20px;
  }
  .user__landing__page__account__button__inVideo > img {
    width: 100px;
  }
  .user__landing__page__account__button__inVideo:hover {
    background-color: rgba(209, 158, 158, 0.342);
    border-radius: 5rem;
  }
}
