.image__placeholder {
  width: 100px;
  height: 100px;
}
.image__placeholder > svg {
  font-size: 3rem;
}

.image-item {
  width: 100px !important;
  height: 100px !important;
  object-fit: fill !important;
  padding: 0px !important;
}
/* .ProfilePic {
  object-fit: fill !important;
  padding: 0px !important;
} */
