.login-wrap {
  margin-top: 10px;
  color: #111;
  text-align: center;
  padding-bottom: 50px;
}
.login-inner-container {
  padding: 5%;
  background-color: rgba(241, 226, 223, 0.671);
  width: 95%;
}
.login-page-icon {
  font-size: larger;
  margin-right: 5px;
}
.login-header {
  color: black;
  font-size: 20px;
  text-align: center;
}
.user-login-container {
  margin: 20px 0;
}
.user-login-with-account {
  margin: 20px 0;
}
.user-login-with-account > input {
  padding-left: 10px;
  font-size: 15px;
  width: 100%;
  max-width: 350px;
  border: 1px solid rgba(124, 121, 121, 0.897);
  border-radius: 0.3rem;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
}
.user-login-input:focus {
  outline: none;
}
.user-login-with-account ::placeholder {
  color: rgba(124, 121, 121, 0.897);
}
.login-submit-button {
  max-width: 350px;
  width: 100%;
  height: 40px;
  margin: 10px 0;
  border-radius: 0.3rem;
  border: none;
  background-color: rgba(40, 40, 233, 0.76);
  color: white;
  font-size: 15px;
}
.login-submit-button:hover {
  background-color: rgba(70, 70, 216, 0.856);
}
.google-login {
  width: 100%;
  max-width: 350px;
  height: 40px;
  border-radius: 4px;
  background: #db3236;
  color: white;
  border: 0px transparent;
  text-align: center;
}
.fa-google {
  margin-right: 10px;
}
.google-login:hover {
  background: #db3236;
  opacity: 0.8;
}
.login-page-footer {
  font-weight: 700;
}
.login-page-back-to-home {
  margin: 20px 0;
  font-weight: 500;
}
.login-page-back-to-home-link {
  color: black;
}
@media screen and (min-width: 970px) {
  .login-inner-container {
    margin-top: 50px;
    padding: 80px 60px;
    width: 50%;
  }
}
