.card {
  width: 250px !important;
  height: 250px !important;
  margin: 20px;
}

.card-content {
  text-align: center;
  padding: 0;
}
.serviceTitle {
  margin-top: 30px;
  font-size: 25px;
  font-family: "Roboto Slab", serif;
  color: rgb(209, 138, 123);
  padding-bottom: 0px;
}
.line {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.name {
  padding-bottom: 0px;
  padding-top: 0px;
  font-family: "Roboto Slab", serif;
  color: rgb(209, 138, 123);
  font-size: larger;
}
.zip {
  font-size: medium;
  padding-bottom: 10px;
}
